.material-icons {
  vertical-align: middle;
}
.no-link {
  cursor: default !important;
}

strong {
  font-weight: bold !important;
}

.section.save > div > a {
  margin: auto 5px;
  padding: 0 .5rem
}